asgiref==3.11.1
certifi==2026.7.22
Django==6.0.7
djangorestframework==3.17.1
gunicorn==26.0.0
mysqlclient==2.2.8
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
sib-api-v3-sdk==7.6.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
